#add-application {
  background-color: rgb(237, 237, 237);
  width: 50%;
  top: 10%;
  left: 25%;
  margin: 0;
  padding: 0;
}

#add-application::backdrop {
  /* Backdrop is only displayed when dialog is opened with dialog.showModal() */
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  padding: 2em 1em;
}

.add_container {
  display: flex;
  margin: 0 1em;
}

.logo, .blank, .title{
  flex: 1;
  display: flex;
}

.logo, .blank {
  flex: 1 1 0;
}

.title {
  flex: 2 1 0;
}

#add_title {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}

.add_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

.add_buttons button {
  margin: 0 .7em;
}

#add-application {
  border: 1px solid black;
  border-radius: 3.5rem;
}

#add_cancel,
#add_submit {
  padding: 0.6em 2.5em;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1em;
}

#add_cancel:hover,
#add_submit:hover {
  padding: 0.6em 2.5em;
  background-color: var(--special-color);
  border: 1px solid var(--special-color);
  border-radius: 0.3rem;
  color: white;
}

.row {
  display: flex;
  text-align: center;
}
label {
    display: block;
    font-size: 1.3em;
    padding-bottom: .7em;
}
input {
    font-size: 1.2em;
    border:.15em solid #D1D1D1;
    border-radius: .3rem;
    padding: .7em;

}
.column {
  flex: 50%;
}
.form-section {
    padding: 2em 0;
}

hr {
  margin: 0;
}

/* END -- ADD DIALOG STYLES */
