#add-application,
#edit-application,
#delete-application {
  background-color: rgb(237 237 237);
  width: 50%;
  left: 25%;
  height: fit-content;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 3.5rem;
}

#add-application,
#edit-application {
  top: 15%;
}

#delete-application {
  top: 25%;
}

#add-application::backdrop,
#edit-application::backdrop,
#delete-application::backdrop {
  /* Backdrop is only displayed when dialog is opened with dialog.showModal() */
  background: rgb(0 0 0 / 40%);
}

.modal-content {
  padding: 2em 1em;
}

.add-container,
.edit-container,
.delete-container {
  display: flex;
  margin: 0 1em;
}

.logo,
.blank,
.title {
  flex: 1;
  display: flex;
}

.logo,
.blank {
  flex: 1 1 0;
}

.title {
  flex: 3 1 0;
}

#add-title,
#edit-title,
#delete-title {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}

#delete-question {
  margin-top: 2em;
  margin-bottom: 1.1em;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.add-buttons,
.edit-buttons,
.delete-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

.add-buttons button,
.edit-buttons button,
.delete-buttons button {
  margin: 0 0.7em;
}

#add-cancel,
#add-submit,
#edit-cancel,
#edit_submit,
#d_cancel,
#d_delete {
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 1.1em;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1em;
}

#add-cancel:hover,
#add-submit:hover,
#edit_cancel:hover,
#edit_submit:hover,
#d_cancel:hover,
#d_delete:hover {
  background-color: var(--special-color);
  border: 1px solid var(--special-color);
  color: white;
}

.grid-container-form {
  display: grid;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-rows: [row1] auto [row2] auto;
  justify-items: stretch;
}

label {
  display: block;
  font-size: 1.3em;
  padding-bottom: 0.7em;
  text-align: center;
}

input {
  margin: auto;
  display: block;
  font-size: 1.2em;
  border: 0.15em solid #d1d1d1;
  border-radius: 0.3rem;
  padding: 0.7em;
  width: 80%;
  line-height: 110%;
}

.form-section {
  padding: 2em 0;
}

hr {
  margin: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .grid-container-form {
    grid-template-columns: none;
    grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto;
  }

  .form-section {
    padding: 0.8em 0;
  }

  @media all and (max-height: 945px) {
    #add-application,
    #edit-application {
      height: 75%;
    }
  }
}
