.edit-application {
  background-color: rgb(237, 237, 237);
  width: 50%;
  top: 10%;
  left: 25%;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 3.5rem;
}

.edit-application::backdrop {
  /* Backdrop is only displayed when dialog is opened with dialog.showModal() */
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  padding: 2em 1em;
}

.edit_container {
  display: flex;
  margin: 0 1em;
}

.logo,
.blank,
.title {
  flex: 1;
  display: flex;
}

.logo,
.blank {
  flex: 1 1 0;
}

.title {
  flex: 3 1 0;
}

.edit_title {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}

.edit_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

.edit_buttons button {
  margin: 0 0.7em;
}

.edit_cancel,
.edit_submit {
  padding: 0.6em 2.5em;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1em;
}

.edit_cancel:hover,
.edit_submit:hover {
  padding: 0.6em 2.5em;
  background-color: var(--special-color);
  border: 1px solid var(--special-color);
  border-radius: 0.3rem;
  color: white;
}

.row {
  display: flex;
  text-align: center;
}
label {
  display: block;
  font-size: 1.3em;
  padding-bottom: 0.7em;
}
input {
  font-size: 1.2em;
  border: 0.15em solid #d1d1d1;
  border-radius: 0.3rem;
  padding: 0.7em;
  margin: 0.1em;
}
.column {
  flex: 50%;
}
.form-section {
  padding: 2em 0;
}

hr {
  margin: 0;
}

/* END -- ADD DIALOG STYLES */
