@font-face {
  font-family: Spoof, serif;
  src: url("/source/assets/font/Spoof-Regular.woff") format("woff");
}

* {
  font-family: Spoof, serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.15fr 1fr 1fr 0.2fr;
  grid-gap: 20px;
  background: #e6e6e6;
  padding: 20px 40px;
  border: 3px solid black;
  margin: 1em 0;
}

.grid-1 {
  text-align: center;
  vertical-align: middle;
}

.grid-1 i {
  font-size: 50px;
  margin-top: 20%;
}

.grid-2 {
  position: relative;
}

.delete-icon,
.edit-icon {
  border: none;
  cursor: pointer;
  background-color: #e6e6e6;
}

.grid-4 {
  text-align: center;
}
.grid-4 i {
  font-size: 2.2em;
}

.position {
  font-weight: bold;
  font-size: 30px;
}

.position,
.company,
.location {
  margin: 0;
}

.job-card {
  background: grey;
  border: 2px solid black;
  padding: 3px 10px;
}

#progress-1,
#progress-2 {
  position: relative;
}

#progress-bar-1,
#progress-bar-2{
  position: absolute;
  background: black;
  -height: 5px;
  -width: 98%;
  -top: 15%;
  -left: 2px; 
  margin: none;
  width: 100%;
  height: 5px;
  top: 50%
}

.stages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.stages::before {
  position: absolute;
  width: 97%;
}

.stages .step {
  border: 3px solid black;
  cursor: pointer;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: relative;
}

.stages .step span {
  display: none;
}

.stages .step p {
  text-align: center;
  line-height: 300%;
  cursor: default;
}

.stages .step.active {
  background-color: #95a1f1;
}
