@font-face {
  font-family: Spoof, serif;
  src: url("/source/assets/font/Spoof-Regular.woff") format("woff");
}

* {
  font-family: Spoof, serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.15fr .7fr 1fr 0.2fr;
  background: #e6e6e6;
  padding: 20px 30px;
  border: 3px solid black;
  margin: 1em 0;
}

.grid-1 {
  align-self: center;
  place-self: center;
}

.grid-1 i {
  font-size: 50px;
  margin-top: 20%;
  padding-right: 10px;
}

.grid-2 {
  position: relative;
  left: 10px;
  padding: auto;
}

.delete-icon,
.edit-icon {
  border: none;
  cursor: pointer;
  background-color: #e6e6e6;
}

.grid-4 {
  text-align: center;
  padding-left: 20px;
}
.grid-4 i {
  font-size: 1.7em;
  padding-bottom: .3em;
}

.position {
  font-weight: bold;
  font-size: 25px;
}

.company,
.location {
  font-size: 16px;
}

.position,
.company,
.location {
  margin: 0;
  width: 94%;
}

.job-card {
  background: grey;
  border: 2px solid black;
  padding: 3px 10px;
}

#progress-1,
#progress-2 {
  position: relative;
}

#progress-bar-1,
#progress-bar-2{
  position: absolute;
  background: black;
  margin: none;
  width: 100%;
  height: 5px;
  top: 50%
}


.stages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.stages::before {
  position: absolute;
  width: 97%;
}

.stages .step {
  border: 3px solid black;
  cursor: pointer;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: relative;
}

.stages .step span {
  display: none;
}

.stages .step p {
  text-align: center;
  line-height: 300%;
  cursor: default;
  font-size: 16px;
}

.stages .step.active {
  background-color: #95a1f1;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1127px) {
  .grid-container {
    grid-template-columns: 0.15fr .5fr 1.2fr 0.3fr;
  }
  .position {
    font-weight: bold;
    font-size: 23px;
  }
  .company,
  .location {
    font-size: 14px;
  }
  .stages .step p {
    top: 15px;
    font-size: 14px;
  }
  .grid-1 i {
    padding-bottom: 20px;
    font-size: 45px;
  }
} 

@media screen and (max-width: 920px) {
  .grid-container {
    grid-template-columns: 0.15fr .45fr 1.47fr 0.08fr;
  }
  .position {
    font-weight: bold;
    font-size: 23px;
  }
  .company,
  .location {
    font-size: 14px;
  }
  .stages .step p {
    top: 15px;
    font-size: 14px;
  }
  .grid-1 i {
    padding-bottom: 40px;
    font-size: 40px;
  }
  .grid-4 i {
  font-size: 1.7em;
}
} 

@media screen and (max-width: 790px) {
  .grid-container {
    grid-template-columns: 0.13fr .41fr 1.53fr 0.08fr;
  }
  .position {
    font-weight: bold;
    font-size: 21px;
  }
  .company,
  .location {
    font-size: 12px;
  }
  .stages .step p {
    padding-top: 8px;
    font-size: 12px;
  }
  .grid-1 i {
    padding-bottom: 40px;
    font-size: 35px;
  }
} 

@media screen and (max-width: 790px) {
  .grid-container {
    grid-template-columns: 0.13fr .43fr 1.53fr 0.06fr;
  }
  .position {
    font-weight: bold;
    font-size: 19px;
  }
  .company,
  .location {
    font-size: 10px;
  }
  .stages .step p {
    padding-top: 10px;
    font-size: 10px;
  }
  .grid-1 i {
    padding-bottom: 40px;
  }
  .grid-2 {
    padding-right: 10px;
  }
} 

@media screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: 0.13fr .43fr 1.53fr 0.06fr;
  }
  .position {
    font-weight: bold;
    font-size: 17px;
  }
  .company,
  .location {
    font-size: 8px;
  }
  .stages .step p {
    padding-top: 15px;
    font-size: 10px;
  }
 
  .grid-1 {
    display: none;
  }
  .grid-1 i {
    padding-bottom: 40px
  }
  .grid-2 {
    padding-right: 20px;
  }
  .grid-3 {
    width: 18em
  }
} 