@font-face {
  font-family: "Spoof";
  src: url("../font/Spoof-Regular.woff2") format("woff2"),
    url("../font/Spoof-Regular.woff") format("woff");
}

:root {
  --special-color: #95a1f1;
  --backgroud-color: white;
  --text-color: black;
  --button-text-color: black;
  --button-color-onhover: rgb(105 123 240);
  --button-text-color-onhover: white;
}

body.dark-theme {
  --special-color: rgb(187 134 250);
  --backgroud-color: rgb(18 18 18 / 25500%);
  --text-color: rgb(218 218 218 / 25500%);
  --button-text-color: white;
  --button-color-onhover: rgb(145 68 239);
  --button-text-color-onhover: black;
}

* {
  font-family: "Spoof", serif;
  font-weight: 300;
  color: var(--text-color);
}

body {
  margin: 2% 5%;
  background-color: var(--backgroud-color);
}

.container-1 {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: -1em;
}

#title {
  font-weight: 600;
  font-size: 2.5em;
}

h2 {
  margin-bottom: -1em;
}

.flexitem-3 {
  position: absolute;
  width: auto;
  top: 35px;
  right: 5px;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}

h5 {
  color: grey;
}

#add-application-btn {
  background-color: var(--special-color);
  color: var(--button-text-color);
  margin: 1em 0.7em;
  padding: 0.5em 2.5em;
  cursor: pointer;
}

#add-application-btn:hover {
  background-color: var(--button-color-onhover);
  color: var(--button-text-color-onhover);
  cursor: pointer;
}

/* dark theme */
.darkmode {
  display: none;
}

.darkmode-switch {
  background-color: var(--special-color);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(0.8);
}

.darkmode-switch .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 2px;
  height: 28px;
  width: 28px;
  transform: translateX(0);
  transition: transform 0.2s linear;
}

.darkmode:checked + .darkmode-switch .ball {
  transform: translateX(28px);
}

.fa-moon, .fa-sun {
  color: black;
}
