@font-face {
  font-family: "Spoof";
  src: url("../font/Spoof-Regular.woff2") format("woff2"),
    url("../font/Spoof-Regular.woff") format("woff");
}

:root {
  --special-color: rgb(149 161 241);
}

* {
  font-family: "Spoof", sans-serif;
  font-weight: 300;
}

body {
  margin: 2% 5%;
}

.container-1 {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: -1em;
}

#title {
  font-weight: 600;
  font-size: 2.5em;
}

h2 {
  margin-bottom: -1em;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}

h5 {
  color: grey;
}

.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}

#add_application_btn {
  background-color: var(--special-color);
  margin: 1em 0.7em;
  padding: 0.5em 2.5em;
  cursor: pointer;
}

#add-application-btn:hover {
  background-color: rgb(105 123 240);
  color: white;
  cursor: pointer;
}
/* darkmode*/
.flexitem-3 {
  position: absolute;
  width: auto;
  top: 35px;
  right: 5px;
}

.filterStages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.filterStages .filterStep {
  border: 3px solid black;
  cursor: pointer;
  border-radius: 1em;
  width: 100px;
  height: 25px;
  text-align: center;
  background-color: #fff;
  position: relative;
}

.filterStages .filterStep span {
  display: none;
}

.filterStages .filterStep.active {
  background-color: #95a1f1;
}

/* dark theme */
.darkmode {
  display: none;
}

.darkmode-switch {
  background-color: var(--special-color);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(0.8);
}

.darkmode-switch .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 2px;
  height: 28px;
  width: 28px;
  transform: translateX(0);
  transition: transform 0.2s linear;
}

.darkmode:checked + .darkmode-switch .ball {
  transform: translateX(28px);
}

.fa-moon, .fa-sun {
  color: black;
}