@font-face {
    font-family: 'Spoof';
    src:    url('../font/Spoof-Regular.woff2') format('woff2'),
            url('../font/Spoof-Regular.woff') format('woff');
}
:root{
    --special-color: rgb(149,161,241); 
}
* {
    font-family: 'Spoof';
}


.flex-item img {
    max-width:100%;
    max-height:140%;
    align-items: flex-end;
}
#left{    
    float: left;  
    }  
.flex-container{
  display:flex;
  height:100%;
  
  box-shadow: 0 4px 2px -2px gray;
}
.flex-container2{
    display:flex;
    height:100%;
  }
.flex-item{
    text-align: center;
    width:100%;
    height:100px;
   
}

.flex-right{
    margin-left:auto;
}

form{
    margin-top: 5%;
}
.forms{
    padding-left: 15%;
}
input[type=submit]{
    background-color: #95a1f1
}
.no-border{
    border-bottom: #fff;
}



.blue-text{
    color: #00BCD4
}
    .form-control-label{margin-bottom: 0}input, textarea, button{padding: 8px 15px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;font-weight: 300}input:focus, textarea:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #00BCD4;outline-width: 0;font-weight: 400}
    
    .btn-block{text-transform: uppercase;font-size: 15px !important;font-weight: 400;height: 43px;cursor: pointer}
