name: CSSLint

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**" 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Style Linter
        uses: actions-hub/stylelint@master
        env:
          PATTERN: "./source/assets/styles/*.css"

