name: ESLint

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install ESLint
        run: npm install eslint
        
      - name: Run ESLint
        run: npx eslint source/assets/scripts/*
