# This workflow executes JSDoc to build documentation for our JS code
#
# You can view and modify the input variables here:
# https://github.com/marketplace/actions/jsdoc-action
#
# It also deploys the documentation to GitHub pages using this action:
# https://github.com/marketplace/actions/github-pages-action
name: Document Generator

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
jobs:
  run-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build
        uses: andstor/jsdoc-action@v1
        with:
          source_dir: ./source/assets/scripts
          recurse: true
          output_dir: ./specs/documentation
          template: minami
      
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.9.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./specs/documentation
